/* 全局样式 */
@font-face {
  font-family: "sourcehansanscn";
  src: url(./sourcehansanscn-regular.otf);
}

html {
  overflow-y: scroll;
}

body {
  padding: 0;
  margin: 0;
  font-family: "sourcehansanscn";
  background: #eee;
  min-height: 100vh;
  word-break: break-all;
}

p {
  margin: 0;
  line-height: 1.8;
  font-size: 16px;
  margin-bottom: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

.home {
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 1px 6px 1px rgb(0 0 0 / 20%);
  padding: 20px 0;
  box-sizing: border-box;
  min-height: 100vh;
}
.main {
  padding-bottom: 20px;
}
.container {
  padding: 0 20px;
}

@media (max-width: 950px) {
  .home {
    max-width: 100%;
    margin-top: 70px;
  }
}

.hljs-line-numbers {
  text-align: right;
  border-right: 1px solid #ccc !important;
  margin-right: 10px !important;
  padding-right: 5px !important;
  color: #999;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
